<div class="ui dimmer visible active" (click)="onCloseClick()">
    <div (click)="$event.stopPropagation()" class="ui modal visible active">
        <i class="close icon" (click)="onCloseClick()"></i>
        <!-- Event bubbling, if the event does not get handled there, it will bubble up to the parent element 
        To do this, input another event listener and utilize stopPropagation
        -->
        <div class="header">
            <ng-content select="[modalTitle]">
                
            </ng-content>
        </div>
        <div class="content">
            <ng-content></ng-content>
        </div>
        <div class="actions">
            <button class="ui button" (click)="onCloseClick()">OK</button>
        </div>
    </div>
</div>